{% extends "base.html" %} {% block title %} InKom {% endblock title %} {% block head %}
<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

<!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet" />

<!-- Main CSS File -->
<link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet" />
{% endblock head %} {% block content %}
<div class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="{{ url_for('barang_controller.landing_page') }}" class="logo d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" />
        <!-- <h1 class="sitename">InKom</h1> -->
      </a>

      <a class="btn-getstarted flex-md-shrink-0" href="{{ url_for('barang_controller.login') }}">Login</a>
    </div>
  </header>
  <main class="main">
    <!-- bumper Section -->
    <section id="bumper" class="bumper section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Kami menyediakan solusi modern untuk mengoptimalkan pengelolaan inventaris UKM Anda.</h1>
            <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
              <a href="{{ url_for('barang_controller.register') }}" class="btn-get-started">Get Started <i class="bi bi-arrow-right"></i></a>
              <a href="https://youtu.be/0HCdrFM5Nas" class="glightbox btn-watch-video d-flex align-items-center justify-content-center ms-0 ms-md-4 mt-4 mt-md-0"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 bumper-img" data-aos="zoom-out">
            <img src="{{ url_for('static', filename='img/bumper-img.png') }}" class="img-fluid animated" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- /bumper Section -->

    <!-- Team Section -->
    <section id="team" class="team section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our working team</p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <!-- <img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""> -->
                <img src="{{ url_for('static', filename='img/team/team1.jpg') }}" class="img-fluid" alt="" />

                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yasir Gass</h4>
                <span>Chief Executive Officer</span>
                <p>leader with a clear vision. Dengan kepemimpinan yang inspiring, dia membawa tim dan perusahaan mencapai goals yang luar biasa.</p>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/team2.jpg') }}" class="img-fluid" alt="" />
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ade Kaelvyn</h4>
                <span>Product Manager</span>
                <p>a problem-solver who turns ideas into reality. Dengan kreativitas dan strategic thinking, dia selalu provide produk yang impactful dan user-friendly.</p>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <!-- <img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""> -->
                <img src="{{ url_for('static', filename='img/team/team3.jpg') }}" class="img-fluid" alt="" />

                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Anggie Susvira</h4>
                <span>CTO</span>
                <p>the tech visionary behind the company. Dengan expertise-nya, dia memastikan setiap inovasi berjalan lancar dan sesuai dengan visi perusahaan.</p>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <!-- <img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""> -->
                <img src="{{ url_for('static', filename='img/team/team4.jpg') }}" class="img-fluid" alt="" />
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Renno Arth</h4>
                <span>Accountant</span>
                <p>the master of numbers. Dengan ketelitian dan dedikasi, dia menjaga keuangan perusahaan tetap solid dan terorganisir dengan baik.</p>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
        </div>
      </div>
    </section>
    <!-- /Team Section -->
  </main>

  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="landing-page.html" class="d-flex align-items-center">
            <span class="sitename">Inkom</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Jl. Veteran, Dusun I, Singopuran, Kartasura</p>
            <p>Kabupaten Sukoharjo, Jawa Tengah 57163</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+62 813 2930 3450</span></p>
            <p><strong>Email:</strong> <span>inkom@amikomsolo.ac.id</span></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Stay connected for the latest updates on inventory management and tools to optimize your SME's asset tracking.</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2025 Copyright</span> <strong class="px-1 sitename">Inkom.</strong> <span> All Rights Reserved</span></p>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</div>
{% endblock content %}
